/* @group Base */
select.chzn-select {
	visibility: hidden;
	height: 28px ! important;
	min-height: 28px ! important;
}

.chzn-container {
	font-size: 11px;
	position: relative;
	display: inline-block;
	float: left;
}

.chzn-container .chzn-drop {
	background: none repeat scroll 0% 0% #FFFFFF;
	border-right: 1px solid #AAAAAA;
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #AAAAAA #AAAAAA;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	position: absolute;
	top: 29px;
	left: 0px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	z-index: 999;
}

/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center bottom , #EEEEEE 0%, white 50%);
	border-radius: 4px 4px 4px 4px;
	background-clip: padding-box;
	border: 1px solid #AAAAAA;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 26px;
	line-height: 26px;
	padding: 0px 0px 0px 8px;
	color: #444444;
	text-decoration: none;
}

.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chzn-container-single .chzn-single div {
	border-radius: 0px 4px 4px 0px;
	background: -moz-linear-gradient(center bottom , #CCCCCC 0%, #EEEEEE 60%) repeat scroll 0% 0% #CCCCCC;
	border-left: 1px solid #AAAAAA;
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	height: 100%;
	width: 18px;
}

.chzn-container-single .chzn-single div b {
	background: url("../images/chosen-sprite.png") no-repeat scroll 0px 1px transparent;
	display: block;
	width: 100%;
	height: 100%;
}

.chzn-container-single .chzn-search {
	padding: 3px 4px;
	margin: 0px;
	white-space: nowrap;
}

.chzn-container-single .chzn-search input {
	background: url("../images/chosen-sprite.png") no-repeat scroll 100% -20px, -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0% 0% transparent;
	margin: 1px 0px;
	padding: 4px 20px 4px 5px;
	outline: 0px none;
	border: 1px solid #AAAAAA;
	font-family: sans-serif;
	font-size: 1em;
}

.chzn-container-single .chzn-drop {
	border-radius: 0px 0px 4px 4px;
	background-clip: padding-box;
}

/* @end */

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%);
	border: 1px solid #AAAAAA;
	margin: 0px;
	padding: 0px;
	cursor: text;
	overflow: hidden;
	height: auto ! important;
	position: relative;
}

.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none outside none;
}

.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
}

.chzn-container-multi .chzn-choices .search-field input {
	color: #666666;
	background: none repeat scroll 0% 0% transparent ! important;
	border: 0px none ! important;
	padding: 5px;
	margin: 1px 0px;
	outline: 0px none;
	box-shadow: none;
}

.chzn-container-multi .chzn-choices .search-field .default {
	color: #999999;
}

.chzn-container-multi .chzn-choices .search-choice {
	border-radius: 3px 3px 3px 3px;
	color: #333333;
	line-height: 13px;
	margin: 3px 0px 3px 5px;
	position: relative;
	border: 1px solid #B4B4B4;
	background-clip: padding-box;
	background-color: #E4E4E4;
	background-image: -moz-linear-gradient(center bottom , #E4E4E4 0%, #EEEEEE 70%);
	padding: 3px 19px 3px 6px;
	width: auto;
}

.chzn-container-multi .chzn-choices .search-choice span {
	cursor: default;
}

.chzn-container-multi .chzn-choices .search-choice-focus {
	background: none repeat scroll 0% 0% #D4D4D4;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 5px;
	top: 6px;
	width: 8px;
	height: 9px;
	font-size: 1px;
	background: url("../images/chosen-sprite.png") no-repeat scroll right top transparent;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
	background-position: right -9px;
}

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -9px;
}

/* @end */

/* @group Results */
.chzn-container .chzn-results {
	margin: 0px 4px 4px 0px;
	max-height: 190px;
	padding: 0px 0px 0px 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.chzn-container-multi .chzn-results {
	margin: -1px 0px 0px;
	padding: 0px;
}

.chzn-container .chzn-results li {
	line-height: 80%;
	padding: 7px 7px 8px;
	margin: 0px;
	list-style: none outside none;
}

.chzn-container .chzn-results .active-result {
	cursor: pointer;
}

.chzn-container .chzn-results .highlighted {
	background: none repeat scroll 0% 0% #3875D7;
	color: #FFFFFF;
}

.chzn-container .chzn-results li em {
	background: none repeat scroll 0% 0% #FEFFDE;
	font-style: normal;
}

.chzn-container .chzn-results .highlighted em {
	background: none repeat scroll 0% 0% transparent;
}

.chzn-container .chzn-results .no-results {
	background: none repeat scroll 0% 0% #F4F4F4;
}

.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999999;
	font-weight: bold;
}

.chzn-container .chzn-results .group-option {
	padding-left: 20px;
}

.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}

/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #5897FB;
}

.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #AAAAAA;
	box-shadow: 0px 1px 0px #FFFFFF inset;
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center bottom , white 0%, #EEEEEE 50%);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.chzn-container-active .chzn-single-with-drop div {
	background: none repeat scroll 0% 0% transparent;
	border-left: medium none;
}

.chzn-container-active .chzn-single-with-drop div b {
	background-position: -18px 1px;
}

.chzn-container-active .chzn-choices {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #5897FB;
}

.chzn-container-active .chzn-choices .search-field input {
	color: #111111 ! important;
}

/* @end */

/* @group Right to Left */
.chzn-rtl {
	direction: rtl;
	text-align: right;
}

.chzn-rtl .chzn-single {
	padding-left: 0px;
	padding-right: 8px;
}

.chzn-rtl .chzn-single span {
	margin-left: 26px;
	margin-right: 0px;
}

.chzn-rtl .chzn-single div {
	left: 0px;
	right: auto;
	border-left: medium none;
	border-right: 1px solid #AAAAAA;
	border-radius: 4px 0px 0px 4px;
}

.chzn-rtl .chzn-choices li {
	float: right;
}

.chzn-rtl .chzn-choices .search-choice {
	padding: 3px 6px 3px 19px;
	margin: 3px 5px 3px 0px;
}

.chzn-rtl .chzn-choices .search-choice .search-choice-close {
	left: 5px;
	right: auto;
	background-position: right top;
}

.chzn-rtl.chzn-container-single .chzn-results {
	margin-left: 4px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 4px;
}

.chzn-rtl .chzn-results .group-option {
	padding-left: 0px;
	padding-right: 20px;
}

.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
	border-right: medium none;
}

.chzn-rtl .chzn-search input {
	background: url("../images/chosen-sprite.png") no-repeat scroll -38px -20px, -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0% 0% transparent;
	padding: 4px 5px 4px 20px;
}