/**
* Base template
*
*/
html {overflow-x: hidden;}

body {
	font-family: @fontbody;
	font-size: @baseFontSize;
	background: @bg;
	text-align: center;
}

a {transition: all 0.3s;}

strong {font-weight: 700;}

em  {font-style: italic;}

// creditos

.copy {
    width: 30%;
    font-size: 1.2em;
    float: right;
    text-align: right;
    clear: right;
}
.sainet a{
    text-decoration: none;
    color: @naranja;
    font-size: 12px;	
    // font-family: 'Arimo';
}
.copy img{
    vertical-align: middle;
    display: inline-block;
}


// header pagina

header {
    position: relative;
    z-index: 200;
    .size(100%, auto);
    background: @blanco;
    box-shadow: 0 11px 6px -9px rgba(0, 0, 0, 0.4);
    border-top: 3px solid @naranja;
    float: left;

    .header-centered {
        .size(960px, auto);
        display: inline-block;
        margin: 0 auto;
        padding-bottom: 15px;

        .login-top {
            .size(346px, auto);
            .orangegradient;
            float: right;
            clear: both;
            font-size: @tinyFont;
            text-transform: uppercase;
            border-radius: 0 0 5px 5px;
            padding: 5px 0;

            a {
                color: @blanco;
                text-decoration: none;
                font-family: @titlefont;
                margin-left: 25px;
                position: relative;
                &:hover {color: #5E544C;}

            }
        }

        .logo-stoore {
            .size(245px, auto);
            float: left;
            clear: both;
        }

        nav {
            .size(359px, auto);
            float: left;
            margin: 40px 0 0 80px;

            .menu {
                li {
                    display: inline-block;
                    font-family: @menufont;
                    font-size: @largeFont;
                    margin: 15px 20px 0 0;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:nth-child(1) a {
                        color: transparent;
                        .size(38px, 38px);
                        background: url("../images/inicio/icono-home.png") no-repeat center 4px, @naranja;
                        display: inline-block;
                        border-radius: 100%;
                        position: relative;
                        top: -10px;

                        &:hover {
                            background: url("../images/inicio/icono-home.png") no-repeat center 4px, @cafe;
                            color: transparent;
                        }

                        &:hover:before {
                            border-top: 10px solid @cafe;
                        }

                        &:before {
                            position: absolute;
                            content: "";
                            bottom: -7px;
                            left: 14px;
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 10px solid @naranja;
                            transition:all .3s;
                        }
                    }

                    a {
                        color: @cafe;
                        text-decoration: none;
                        &:hover {color: @naranja;}
                    }
                }
            }
        }

        .shopping-cart {
            float: right;
            .size(150px, auto);
            margin-top: 50px;
            margin-right: 16px;
            position: relative;

            .total_products {
                background: @cafe;
                color: @blanco;
                font-size: @cart;
                font-family: @titlefont;
                text-transform: uppercase;
                display: inline-block;
                padding: 7px 21px 7px 7px;
                border-radius: 3px;
                position: relative;
                // &:after {
                //     position: absolute;
                //     content: "";
                //     top: -9px;
                //     right: -49px;
                //     .size(46px, 43px);
                //     background: url("../images/inicio/icono-carro-compras.png")no-repeat;
                // }
            }
            .show_cart{
                position: absolute;
                content: "";
                top: -9px;
                font-size: 0px;
                color: transparent;
                right: -22px;
                .size(46px, 43px);
                background: url("../images/inicio/icono-carro-compras.png")no-repeat;
                a{.size(46px, 43px);}
            }
        }
    }
}


//footer pagina

footer {
    .size(100%, auto);
    float: left;
    background: @bg-footer;
    margin-top: 45px;

    .footer-centered {
        .size(960px, auto);
        margin: 0 auto;
        display: inline-block;

        .footer-top {
            .size(100%, auto);
            display: inline-block;
            border-bottom: 2px solid darken(@bg-footer, 5%);
            padding: 10px 0;

            .moduletablerede-bottom {
                float: left;
                width: 45%;
                text-align: left;
                margin-top: 12px;

                iframe {width: 150px;}
            }

            .moduletabledatos-pie {
                float: left;
                width: 55%;

                table {
                    tr {
                        td {
                            vertical-align: middle;
                            color: @blanco;
                        }
                    }
                }
            }
        }

        .footer-middle {
            .size(100%, auto);
            display: inline-block;
            padding: 10px 0;
            text-align: left;

            h3 {
              color: darken(@cafe, 15%);
              display: inline-block;
              padding-bottom: 2px;
              margin-bottom: 10px;
              border-bottom: 2px solid darken(@bg-footer, 5%); 
            }

            ul {
                li {
                    display: inline-block;
                    margin-right: 13px;
                    a {
                        color: darken(@cafe, 15%);
                        text-decoration: none;
                        &:hover {text-decoration: underline;}
                    }
                }
            }
        }
    }

    .footer-bottom {
        background: darken(@bg-footer, 10%);
        .size(100%, auto);

        .footer-bottom-centered {
            .size(960px, auto);
            margin: 0 auto;
            display: inline-block;
            padding: 10px 0;

            .moduletabledireccion {
                width: 70%;
                float: left;
                color: @blanco;
                font-size: @smallFont;
                text-align: left;
                margin-top: 5px;
            }
        }
    }
}

//  redeslateral

.redes-lateral {
    .size(auto, auto);
    position: absolute;
    right: 0;
    top: 440px;
    z-index: 300;

    .fb {
        background: #005189;
        .bt-social;
        img {margin-top: 7px;}
        &:hover {background: @cafe;}
    }
    .tw {
        background: #008EB6;
        .bt-social;
        img {margin-top: 7px;}
        &:hover {background: @cafe;}
    }
    .yb {
        background: #E02F27;
        .bt-social; 
        img {margin-top: 5px;}
        &:hover {background: @cafe;}
    }
}

// contacto lateral

.contacto {
    .size(136px, 115px);
    position: absolute;
    top: 750px;
    right: 10px;
    z-index: 200;
}



// login

span.niftyquick span.yoo-login span.login span.registration, span.niftyquick span.yoo-login span.login span.lostpassword {
    background: none;
    width: auto;
}

.ingresar {
    width: auto;
    float: left;

    a {
        &:after {
            position: absolute;
            content: "/";
            right: -19px;
            top: 3px;
            .size(auto, auto); 
            color: @blanco !important;
        }
    }
}

.registration {
    a {
        margin-left: 10px !important;

        &:after {
            position: absolute;
            content: "/";
            top: 0;
            right: -8px;
            .size(auto, auto);
            color: @blanco !important;
        }
    }

}

span.niftyquick span.yoo-login span.login span.username, span.niftyquick span.yoo-login span.login span.password, span.niftyquick span.yoo-login span.login span.login-button, span.niftyquick span.yoo-login span.login span.lostpassword, span.niftyquick span.yoo-login span.login span.lostusername, span.niftyquick span.yoo-login span.login span.registration, span.niftyquick span.yoo-login span.logout span.greeting, span.niftyquick span.yoo-login span.logout span.logout-button {overflow: visible;}

span.niftyquick span.yoo-login span.login {height: auto;}



