main {
	.size(960px, auto);
	display: inline-block;
	margin: 0 auto;

	.search {
		.size(960px, 63px);
		background: url("../images/inicio/buscador.png")no-repeat;
		margin: 0 auto;
		margin-top: 50px;
		position: relative;
		z-index: 300;
		.wrapper-inputs{
			float: left;
			width: 630px;
			border-radius: 5px;
			border: 2px solid @naranja;
			background: @naranja;
			margin: 10px 0 0 10px;
			padding: 2px 0 0 5px;			

			input[type="text"]{
				width: 415px;
				float: left;
				margin-left: 2px;
				padding: 8px 0;
			}
			.content-select{
			position: relative;
			width: 160px;
			float: left;

				select{
					  width: 160px;
					  float: left;
					  padding: 8px 2px;
					  display: inline-block;
					  -webkit-appearance: none;
					  position: relative;
					  background: url("../images/inicio/flecha-02.png")no-repeat #EFEDED 135px -4px;
					  border: 0;
					  border-radius: 0;
					}
									
			}
			input[type="submit"]{
				background: url("../images/inicio/lupa.png")no-repeat @naranja;
				color: transparent;
				font-size: 1px;
				width: 40px;
				height: 35px;
				float: right;
				border: none;

			}
		}
		.wrapper-check{
			float: right;
			width: 285px;
			border-radius: 5px;
			border: 2px solid @naranja;
			margin: 10px;
			background: @blanco;
			padding: 3px 0;

			.img-chkama{margin-right: 10px;	}

			input[type="checkbox"]{
				vertical-align: top;
				margin-top: 8px;
			}
		}
	}

	.category_description{
		margin: 20px 0;
		h2{
		  font-family: 'Fjalla One', sans-serif;
		  font-size: 35px;
		  text-align: center;
		  color: @naranja;
		  margin: 20px 0;			
		}
		p{
			font-size: 16px;
  			color: #939393;
  			text-align: justify;
  			line-height: 22px;
		}
	}
	.separador {
		.size(100%, 14px);
		clear: both;
		background: url("../images/inicio/separador.png")no-repeat;
		margin: 30px 0;
		display: inline-block;
	}	
	.browse-view{ 
		.row{
			.spacer{
				background: @blanco;
				// width: 210px !important;
				border: 1px solid #ccc;
				margin: 14px 6px;
				border-radius: 6px;		
				height: 287px;	

				.width30{
					width: 100%;
				}
				.width70{
					width: 93%;
					text-align: left;
					margin-right: 7px;
					.product_s_desc{
						font-size: 13px;
						color: #939393		
					}

					h2{
						a{
							color: @naranja;
							text-decoration: none;
						}
					}
					.product-price {
						margin: 0;
						height: 16px;

						span{
							color: @naranja;
						}
						.PricepriceWithoutTax{display: none;}
					}
					.vermas{
						display: inline-block;
						float: left;
					}
					.product-details{
						background: url("../images/inicio/detalle-icon.png")no-repeat 97px center, @naranja;
						color: @blanco;
						padding: 3px 28px 5px 12px;
						text-decoration: none;
						margin-top: 12px;
						margin-left: -8px;
						font-style: italic;
						border: none;
						border-radius: 0;

						&:hover {background:url("../images/inicio/detalle-icon.png")no-repeat 97px center, @cafe;}
					}

					.carrito{float: right;
						.quantity-input{display: none;}

						span.addtocart-button{
							display: inline-block;
							float: right;
							width: 34px;
							input.addtocart-button{
								display: inline-block !important;
								color: transparent;
								width: 34px;
								height: 31px;
								background: url("../images/inicio/cart.png") no-repeat;
								cursor: pointer;
								font-size: 0px;
								color: transparent;
								border: none;
								margin-top: 8px;
							}						
						}
					}
				}
			}
		}

		.orderby-displaynumber{display: none;}
		.vote{display: none;}
	}	
	.productdetails-view{
		.contenedor-producto{
			background: @blanco;
			padding: 20px 10px;
			border: 1px solid #ccc;
			border-radius: 12px;				
			.width60{
				width: 423px;
				float: left;

				img{width:400px;}
			}
			.descripcion{
				width: 490px;
				float: right;
				margin-right: 20px;
				h2{
				  font-family: 'Fjalla One', sans-serif;
				  font-size: 30px;
				  text-align: left;
				  color: @naranja;
				  margin: 20px 0;			
				}		

				p{
		  			color: #939393;
		  			text-align: justify;
		  			line-height: 22px;
		  			display: inline-block;
				}		
				.width40{   
					float: left;
					width: 85%;
					.spacer-buy-area{
						.product-price{
							strong{display: none;}
							.PricepriceWithoutTax{display: none;}
							.PricesalesPrice{
								font-family: 'Fjalla One', sans-serif;
								font-size: 25px;
								text-align: left;
								color: @naranja;
								margin: 15px 0;	
							}
						}	
						.addtocart-area{
							float: right;
							display: inline-block;
							.addtocart-button{
								display: inline-block !important;
								color: transparent;
								width: 34px;
								height: 31px;
								background: url("../images/inicio/cart.png") no-repeat;
								cursor: pointer;
								font-size: 0px;
								color: transparent;		
								margin-top: 5px;																					
							}
							.quantity-box{float: none;}	

							.quantity-controls{
								display: none;
							}
						}
					}	
				}				
			}
			.product-fields {
				margin-top: -26px;
				margin-left: 51px;
				display: inline-block;
				.product-field{
					color: @naranja;
				}
			}
		}
		.back-to-category{
			float: left;
			a{
				background: url("../images/inicio/detalle-icon.png")no-repeat 97px center, @naranja;
				color: @blanco;
				padding: 6px 16px 6px 16px;
				text-decoration: none;
				margin-top: 12px;
				font-style: italic;
				border: none;
				border-radius: 0;

				&:hover {background:url("../images/inicio/detalle-icon.png")no-repeat 97px center, @cafe;}				
			}
		}	
	}	
}	 

.readon {
	background: url("../images/inicio/detalle-icon.png")no-repeat 97px center, @naranja;
	color: @blanco;
	padding: 3px 25px 5px 12px;
	text-decoration: none;
	margin-top: 15px;
	&:hover {background:url("../images/inicio/detalle-icon.png")no-repeat 97px center, @cafe;}
}

#fancybox-wrap a.continue {
	color: #fff;
	font-size: 0px;
}

#fancybox-wrap .showcart.floatright {
	color: @naranja;
	font-size: 15px;
	text-decoration: underline;
	background: url("../images/inicio/carrito_popup.png")no-repeat ;
	width: 200px;
	padding-left: 45px;
	display: inline-block;
	text-align: right;
	height: 50px;
}

#fancybox-wrap h4 {
	color: #666666;
	margin: 39px 0 8px 1px;
	text-align: center;
}

#fancybox-wrap {
    z-index: 99999;
}

#fancybox-wrap div {
	text-align: center;
}

.cart-view .width50.floatleft.right {
	float: right;
	margin: -12px 0 12px 0;
}

.cart-view .width50.floatleft.right a span {
	font-size: 18px;
	color: #83B151;
	text-decoration: underline;
}

.cart-view h1:after {
	content: "";
	width: 38%;
	border-bottom: 2px solid #83B151;
	height: 3px;
	margin-top: 15px;
	float: right;
}

.cart-view h1 {
	margin: 30px 0;
	height: 30px;
	color: #83B151;
	padding: 5px 0 0 0px;
	width: 100%;
	font-family: 'Didact Gothic', 'sans-serif';
	font-size: 27px;
	font-weight: 100;
	text-align: center;
}

.cart-view h1:before{
	content: "";
	width: 38%;
	border-bottom: 2px solid @narnja;
	height: 3px;
	float: left;
	margin-top: 15px;
}

.cart-view input[type="submit"] {
	border: none;
	float: none;
	color: #fff;
	font-size: 20px;
	margin: 14px 12px 0 0px;
	border-radius: 8px;
	padding: 0px 8px;
}

.cart-view input[type="checkbox"] {
	width: 30px;
}

.cart-view #com-form-login p:first-child {
	color: #3C2C65;
	font-size: 18px;
	padding-bottom: 5px;
}

.cart-view .width30.floatleft a {
	font-size: 18px;
	color: @naranja;
	text-decoration: underline;
	margin-left: 90px;
}

.cart-view .width30.floatleft  [type="password"] {
	background-color: #FFFFFF;
	border: 1px solid #DEDEDE;
	border-radius: 4px 4px 4px 4px;
	font-size: 14px;
	padding: 5px 13px;
	vertical-align: middle;
	width: 287px !important;
}

.botones{
	background:@naranja;
	color: @blanco;
	padding: 3px 12px 5px 12px;
	font-weight: 400;
	text-decoration: none;
	font-size: 15px;
	margin-top: 15px;
	&:hover {background:@cafe; padding: 3px 12px 5px 12px; font-weight: 400; font-size: 15px;}	
}
.cart-view{
	font-family: @fontbody;
	background: #fff;
	padding: 0 12px 12px 12px;
	border-radius: 12px;
	border: 1px solid #ccc;	
	h2.title-carrito{
		font-family: 'Fjalla One', sans-serif;
		font-size: 35px;
		text-align: center;
		color: #FF6628;
		margin: 5px 0;
	}
	.continuar{
		width: 100%;
		text-align: left;
		.continue_link{
				text-align: left;
				text-decoration: underline;
				color: @naranja;
				font-size: 20px;
				display: inline-block;
				margin: 15px 0;
		}		
	}
	.cart-summary{
		th{
			font-size: 15px;
			font-weight: bold;
		}
	}
	.vm-button-correct {
		.botones;
	}
}
#acordeon{
	.recordarme{display: none;}
	.control-buttons{
		.default{
			padding: 0;
		}
	}
	.chzn-container{width: 323px!important;}
}
.gracias{
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
	text-align: center;
	color: #FF6628;
	margin: 5px 0;
}
.reset, .reset-confirm, .reset-complete{
	h3{
		font-family: 'Fjalla One', sans-serif;
		font-size: 35px;
		text-align: center;
		color: #FF6628;
		margin: 5px 0;
	}
	p{
		text-align: justify;
		font-size: 16px;
		line-height: 19px;
	}
	.reset-pass{
		margin: 12px 0;
	}
	label{
		color: @naranja;
		margin: 12px 0 0 0;
		display: inline-block;
	}

	input[type="text"]{
		padding: 5px;
		width: 250px!important;
		
	}
	input[type="password"]{
		padding: 5px;
		width: 250px!important;
		margin-bottom: 5px;
		
	}
}
