section.banner {
	.size(1900px, auto);
	display: inline-block;
	position: relative;

	.moduletable {box-shadow: 0 11px 6px -7px rgba(0, 0, 0, 0.3);}

	.default-simple {

		.ju-slide-navigation-dots {
			margin-bottom: 12px;

			.image_number_select {
				background: @naranja !important;
				border-radius: 100%;
				.size(12px, 12px);
			}

			.image_number {
				background: @blanco;
				border-radius: 100%;
				.size(12px, 12px);
			}
		}

		.ju-slide-desc {
			background: transparent;
			width: 460px;
			left: 40%;
			top: 22%;
			max-height: none;

			.ju-slide-desc-inner {
				overflow: visible;

				.label-title {
					font-family: @bannerfont;
					font-size: @bannerf;
					color: @blanco;
					text-transform: none;
					text-shadow: 2px 2px 8px #000;
					span {
						color: @naranja;
					}
				}

				.label-desc {
					background: rgba(0,0,0,0.5);
					color: @blanco;
					text-align: center;
					padding: 5px 10px;
					margin-top: 130px;
				}
			}

		}
	}

	.search {
		.size(960px, 63px);
		background: url("../images/inicio/buscador.png")no-repeat;
		margin: 0 auto;
		position: relative;
		z-index: 300;
		top: -300px;
		.wrapper-inputs{
			float: left;
			width: 630px;
			border-radius: 5px;
			border: 2px solid @naranja;
			background: @naranja;
			margin: 10px 0 0 10px;
			padding: 2px 0 0 5px;			

			input[type="text"]{
				width: 415px;
				float: left;
				margin-left: 2px;
				padding: 8px 0;
			}
			.content-select{
			position: relative;
			width: 160px;
			float: left;

				select{
					  width: 160px;
					  float: left;
					  padding: 8px 2px;
					  display: inline-block;
					  -webkit-appearance: none;
					  position: relative;
					  background: url("../images/inicio/flecha-02.png")no-repeat #EFEDED 135px -4px;
					  border: 0;
					  border-radius: 0;
					}
									
			}
			input[type="submit"]{
				background: url("../images/inicio/lupa.png")no-repeat @naranja;
				color: transparent;
				font-size: 1px;
				width: 40px;
				height: 35px;
				float: right;
				border: none;

			}
		}
		.wrapper-check{
			float: right;
			width: 285px;
			border-radius: 5px;
			border: 2px solid @naranja;
			margin: 10px;
			background: @blanco;
			padding: 3px 0;

			.img-chkama{margin-right: 10px;	}

			input[type="checkbox"]{
				vertical-align: top;
				margin-top: 8px;
			}
		}
	}
}

main {
	.size(960px, auto);
	display: inline-block;
	margin: 0 auto;

	aside.social-activity {
		.size(240px, auto);
		float: left;

		.moduletablefacebook-home {
			.socialbox;

			h3 {
				font-family: @menufont;
				font-size: @xLargeFont;
				color: @blanco;
				font-weight: normal;
				text-align: left;
				margin-bottom: 10px;
				background: url("../images/inicio/icono-modulo-fb.png")no-repeat 7px center;
				padding:3px 0 3px 50px;

			}

			iframe {background: @blanco;}
		}

		.moduletabletwitter-box-home {
			.socialbox;

			h3 {
				font-family: @menufont;
				font-size: @xLargeFont;
				color: @blanco;
				font-weight: normal;
				text-align: left;
				margin-bottom: 10px;
				background: url("../images/inicio/icono-modulo-tw.png")no-repeat 7px center;
				padding:3px 0 3px 50px;
			}

		}

	}

	section.destacados {
		.size(685px, auto);
		float: right;
		background: @blanco;
		border-radius: 6px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
		padding-left: 15px;
		position: relative;

		h3 {
			font-family: @bannerfont;
			font-size: @stitle;
			text-align: left;
			color: @cafe;
			margin: 16px 10px 3px 5px;
		}

		.nspPrev {
			.size(17px, 23px);
			background: url("../images/inicio/flecha-1.png")no-repeat;
			background-position: 0 0;
		}

		.nspNext {
			.size(18px, 23px);
			background: url("../images/inicio/flecha-2.png")no-repeat;
			background-position: 0 0;
			margin: 0 0 0 13px !important;
		}

		.nspBotInterface, .nspTopInterface {
			position: absolute;
			right: 20px;
    		top: 12px;
		}

		.nspArt {
			width: 210px !important;
			border: 1px solid #ccc;
			margin: 14px 6px;
			border-radius: 6px;

			.readon {
				background: url("../images/inicio/detalle-icon.png")no-repeat 97px center, @naranja;
				color: @blanco;
				padding: 3px 25px 5px 12px;
				text-decoration: none;
				margin-top: 15px;
				&:hover {background:url("../images/inicio/detalle-icon.png")no-repeat 97px center, @cafe;}
			}

			h4.nspHeader {
				margin-left: 12%;
				margin-bottom: 7px;

				a {
					color: @naranja;
					text-decoration: none;
					font-size: @otherFont;
					border-bottom: 1px solid #999;

				}
			}

			p.nspText {
				margin: 0 3% 0 12%;
				font-size: @otherFont;
				color: @gris;
				text-align: justify;
				width: auto;
			}

		}

	}

	.separador {
		.size(100%, 14px);
		clear: both;
		background: url("../images/inicio/separador.png")no-repeat;
		margin: 30px 0;
		display: inline-block;
	}

	.content-bottom {
		.size(100%, auto);
		float: left;

		article.bienvenidos {
			.size(682px, auto);
			float: left;

			table {
				tr {
					td {
						vertical-align: top;
						text-align: justify;

						h3 {
							color: @cafe;
							font-family: @menufont;
							font-size: @othertitle;
							margin-bottom: 5px;
						}

						p {
							color: @grisp;
						}

						img {
							padding: 5px;
							background:@blanco;
							margin-right: 10px;
							border-radius: 3px;
						}
					}
				}
			}
		}

		aside.video {
			float: right;
			.size(265px, auto);

			img {
				padding: 5px;
				background:@blanco;
				border-radius: 3px;
				margin-top: 21px;
			}
		}
	}
}

.nspVmStore {
	border-top: 0;
	height: auto;
	padding: 0;
	float: right;
	margin-top: 10px;

	.PricepriceWithoutTax {
		display: inline-block !important;
		color: transparent;
		.size(34px, 31px);
		background: url("../images/inicio/cart.png")no-repeat;
		cursor: pointer;
	}
}