// Iconos del sitio

.valora-icon {

	background-image: url();


	.logo {

		background-position: 10px 20px;
		
	}

	.casita {

		a {

			span {

				i {

					p {


					}

					p span {

						
					}
				}

			}
		}

	}
	
}