/**
*
* variables to use in less
*
*/

// Site Standard colors
@blanco: #fff;
@negro: #000;
@naranja: #FF6628;
@bg: #EDEDED;
@cafe: #5E544C;
@bg-footer: #595552;
@gris: #939393;
@grisp: #666;




// Font size
@cart:10px;
@baseFontSize: 15px;
@tinyFont: 11px;
@smallFont: 12px;
@normalFont: 14px;
@mediumFont: 16px;
@largeFont: 18px;
@xLargeFont: 23px;
@bigFont: 22px;
@biggerFont: 32px;
@margin: 0 auto;
@otherFont: 13px;
@othertitle:27px;
@stitle: 20px;
@h2Font:19px;
@bannerf:37px;
@fontbienvenidos: 36px;
@titlesize: 30px;


//line height

@line: 18px;


// Font Family
@fontbody: 'Open Sans', sans-serif;
@titlefont: 'Coda', cursive;
@menufont: 'Montserrat', sans-serif;
@bannerfont: 'Fjalla One', sans-serif;
