.valora-icon {
  background-image: url();
}
.valora-icon .logo {
  background-position: 10px 20px;
}
.striped {
  background: url("../images/inicio/striped.png") repeat;
}
.center {
  width: 1023px;
  height: auto;
  margin: 0 auto;
}
.center-cont {
  width: 960px;
  height: auto;
  margin: 0 auto;
}
.orangegradient {
  background: #ff6628;
  background: -moz-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff6628),color-stop(44%,#ed5f25),color-stop(83%,#d95722),color-stop(100%,#fd6528));
  background: -webkit-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -o-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -ms-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: linear-gradient(to bottom,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6628',endColorstr='#fd6528',GradientType=0);
}
.socialbox {
  background: #5E544C;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 0;
}
.bt-social {
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #EDEDED;
  text-align: center;
}
a {
  transition: all 0.3s;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
.copy {
  width: 30%;
  font-size: 1.2em;
  float: right;
  text-align: right;
  clear: right;
}
.sainet a {
  text-decoration: none;
  color: #FF6628;
  font-size: 12px;
}
.copy img {
  vertical-align: middle;
  display: inline-block;
}
header {
  position: relative;
  z-index: 200;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 11px 6px -9px rgba(0,0,0,0.4);
  border-top: 3px solid #FF6628;
  float: left;
}
header .header-centered {
  width: 960px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 15px;
}
header .header-centered .login-top {
  width: 346px;
  height: auto;
  background: #ff6628;
  background: -moz-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff6628),color-stop(44%,#ed5f25),color-stop(83%,#d95722),color-stop(100%,#fd6528));
  background: -webkit-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -o-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -ms-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: linear-gradient(to bottom,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6628',endColorstr='#fd6528',GradientType=0);
  float: right;
  clear: both;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
}
header .header-centered .login-top a {
  color: #fff;
  text-decoration: none;
  font-family: 'Coda', cursive;
  margin-left: 25px;
  position: relative;
}
header .header-centered .login-top a:hover {
  color: #5E544C;
}
header .header-centered .logo-stoore {
  width: 245px;
  height: auto;
  float: left;
  clear: both;
}
header .header-centered nav {
  width: 359px;
  height: auto;
  float: left;
  margin: 40px 0 0 80px;
}
header .header-centered nav .menu li {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 15px 20px 0 0;
}
header .header-centered nav .menu li:first-child {
  margin-top: 0;
}
header .header-centered nav .menu li:nth-child(1) a {
  color: transparent;
  width: 38px;
  height: 38px;
  background: url("../images/inicio/icono-home.png") no-repeat center 4px, #FF6628;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  top: -10px;
}
header .header-centered nav .menu li:nth-child(1) a:hover {
  background: url("../images/inicio/icono-home.png") no-repeat center 4px, #5E544C;
  color: transparent;
}
header .header-centered nav .menu li:nth-child(1) a:hover:before {
  border-top: 10px solid #5E544C;
}
header .header-centered nav .menu li:nth-child(1) a:before {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 14px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #FF6628;
  transition: all .3s;
}
header .header-centered nav .menu li a {
  color: #5E544C;
  text-decoration: none;
}
header .header-centered nav .menu li a:hover {
  color: #FF6628;
}
header .header-centered .shopping-cart {
  float: right;
  width: 150px;
  height: auto;
  margin-top: 50px;
  margin-right: 16px;
  position: relative;
}
header .header-centered .shopping-cart .total_products {
  background: #5E544C;
  color: #fff;
  font-size: 10px;
  font-family: 'Coda', cursive;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 21px 7px 7px;
  border-radius: 3px;
  position: relative;
}
header .header-centered .shopping-cart .show_cart {
  position: absolute;
  content: "";
  top: -9px;
  font-size: 0px;
  color: transparent;
  right: -22px;
  width: 46px;
  height: 43px;
  background: url("../images/inicio/icono-carro-compras.png") no-repeat;
}
header .header-centered .shopping-cart .show_cart a {
  width: 46px;
  height: 43px;
}
footer {
  width: 100%;
  height: auto;
  float: left;
  background: #595552;
  margin-top: 45px;
}
footer .footer-centered {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
}
footer .footer-centered .footer-top {
  width: 100%;
  height: auto;
  display: inline-block;
  border-bottom: 2px solid #4c4846;
  padding: 10px 0;
}
footer .footer-centered .footer-top .moduletablerede-bottom {
  float: left;
  width: 45%;
  text-align: left;
  margin-top: 12px;
}
footer .footer-centered .footer-top .moduletablerede-bottom iframe {
  width: 150px;
}
footer .footer-centered .footer-top .moduletabledatos-pie {
  float: left;
  width: 55%;
}
footer .footer-centered .footer-top .moduletabledatos-pie table tr td {
  vertical-align: middle;
  color: #fff;
}
footer .footer-centered .footer-middle {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px 0;
  text-align: left;
}
footer .footer-centered .footer-middle h3 {
  color: #342e2a;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4c4846;
}
footer .footer-centered .footer-middle ul li {
  display: inline-block;
  margin-right: 13px;
}
footer .footer-centered .footer-middle ul li a {
  color: #342e2a;
  text-decoration: none;
}
footer .footer-centered .footer-middle ul li a:hover {
  text-decoration: underline;
}
footer .footer-bottom {
  background: #3e3c3a;
  width: 100%;
  height: auto;
}
footer .footer-bottom .footer-bottom-centered {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 0;
}
footer .footer-bottom .footer-bottom-centered .moduletabledireccion {
  width: 70%;
  float: left;
  color: #fff;
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}
.redes-lateral {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 440px;
  z-index: 300;
}
.redes-lateral .fb {
  background: #005189;
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
.redes-lateral .fb img {
  margin-top: 7px;
}
.redes-lateral .fb:hover {
  background: #5E544C;
}
.redes-lateral .tw {
  background: #008EB6;
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
.redes-lateral .tw img {
  margin-top: 7px;
}
.redes-lateral .tw:hover {
  background: #5E544C;
}
.redes-lateral .yb {
  background: #E02F27;
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
.redes-lateral .yb img {
  margin-top: 5px;
}
.redes-lateral .yb:hover {
  background: #5E544C;
}
.contacto {
  width: 136px;
  height: 115px;
  position: absolute;
  top: 750px;
  right: 10px;
  z-index: 200;
}
span.niftyquick span.yoo-login span.login span.registration,
span.niftyquick span.yoo-login span.login span.lostpassword {
  background: none;
  width: auto;
}
.ingresar {
  width: auto;
  float: left;
}
.ingresar a:after {
  position: absolute;
  content: "/";
  right: -19px;
  top: 3px;
  width: auto;
  height: auto;
  color: #fff !important;
}
.registration a {
  margin-left: 10px !important;
}
.registration a:after {
  position: absolute;
  content: "/";
  top: 0;
  right: -8px;
  width: auto;
  height: auto;
  color: #fff !important;
}
span.niftyquick span.yoo-login span.login span.username,
span.niftyquick span.yoo-login span.login span.password,
span.niftyquick span.yoo-login span.login span.login-button,
span.niftyquick span.yoo-login span.login span.lostpassword,
span.niftyquick span.yoo-login span.login span.lostusername,
span.niftyquick span.yoo-login span.login span.registration,
span.niftyquick span.yoo-login span.logout span.greeting,
span.niftyquick span.yoo-login span.logout span.logout-button {
  overflow: visible;
}
span.niftyquick span.yoo-login span.login {
  height: auto;
}
section.banner {
  width: 1900px;
  height: auto;
  display: inline-block;
  position: relative;
}
section.banner .moduletable {
  box-shadow: 0 11px 6px -7px rgba(0,0,0,0.3);
}
section.banner .default-simple .ju-slide-navigation-dots {
  margin-bottom: 12px;
}
section.banner .default-simple .ju-slide-navigation-dots .image_number_select {
  background: #FF6628 !important;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
section.banner .default-simple .ju-slide-navigation-dots .image_number {
  background: #fff;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
section.banner .default-simple .ju-slide-desc {
  background: transparent;
  width: 460px;
  left: 40%;
  top: 22%;
  max-height: none;
}
section.banner .default-simple .ju-slide-desc .ju-slide-desc-inner {
  overflow: visible;
}
section.banner .default-simple .ju-slide-desc .ju-slide-desc-inner .label-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 37px;
  color: #fff;
  text-transform: none;
  text-shadow: 2px 2px 8px #000;
}
section.banner .default-simple .ju-slide-desc .ju-slide-desc-inner .label-title span {
  color: #FF6628;
}
section.banner .default-simple .ju-slide-desc .ju-slide-desc-inner .label-desc {
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin-top: 130px;
}
section.banner .search {
  width: 960px;
  height: 63px;
  background: url("../images/inicio/buscador.png") no-repeat;
  margin: 0 auto;
  position: relative;
  z-index: 300;
  top: -300px;
}
section.banner .search .wrapper-inputs {
  float: left;
  width: 630px;
  border-radius: 5px;
  border: 2px solid #FF6628;
  background: #FF6628;
  margin: 10px 0 0 10px;
  padding: 2px 0 0 5px;
}
section.banner .search .wrapper-inputs input[type="text"] {
  width: 415px;
  float: left;
  margin-left: 2px;
  padding: 8px 0;
}
section.banner .search .wrapper-inputs .content-select {
  position: relative;
  width: 160px;
  float: left;
}
section.banner .search .wrapper-inputs .content-select select {
  width: 160px;
  float: left;
  padding: 8px 2px;
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  background: url("../images/inicio/flecha-02.png") no-repeat #EFEDED 135px -4px;
  border: 0;
  border-radius: 0;
}
section.banner .search .wrapper-inputs input[type="submit"] {
  background: url("../images/inicio/lupa.png") no-repeat #FF6628;
  color: transparent;
  font-size: 1px;
  width: 40px;
  height: 35px;
  float: right;
  border: none;
}
section.banner .search .wrapper-check {
  float: right;
  width: 285px;
  border-radius: 5px;
  border: 2px solid #FF6628;
  margin: 10px;
  background: #fff;
  padding: 3px 0;
}
section.banner .search .wrapper-check .img-chkama {
  margin-right: 10px;
}
section.banner .search .wrapper-check input[type="checkbox"] {
  vertical-align: top;
  margin-top: 8px;
}
main {
  width: 960px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}
main aside.social-activity {
  width: 240px;
  height: auto;
  float: left;
}
main aside.social-activity .moduletablefacebook-home {
  background: #5E544C;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 0;
}
main aside.social-activity .moduletablefacebook-home h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: normal;
  text-align: left;
  margin-bottom: 10px;
  background: url("../images/inicio/icono-modulo-fb.png") no-repeat 7px center;
  padding: 3px 0 3px 50px;
}
main aside.social-activity .moduletablefacebook-home iframe {
  background: #fff;
}
main aside.social-activity .moduletabletwitter-box-home {
  background: #5E544C;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 0;
}
main aside.social-activity .moduletabletwitter-box-home h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: normal;
  text-align: left;
  margin-bottom: 10px;
  background: url("../images/inicio/icono-modulo-tw.png") no-repeat 7px center;
  padding: 3px 0 3px 50px;
}
main section.destacados {
  width: 685px;
  height: auto;
  float: right;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  padding-left: 15px;
  position: relative;
}
main section.destacados h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  text-align: left;
  color: #5E544C;
  margin: 16px 10px 3px 5px;
}
main section.destacados .nspPrev {
  width: 17px;
  height: 23px;
  background: url("../images/inicio/flecha-1.png") no-repeat;
  background-position: 0 0;
}
main section.destacados .nspNext {
  width: 18px;
  height: 23px;
  background: url("../images/inicio/flecha-2.png") no-repeat;
  background-position: 0 0;
  margin: 0 0 0 13px !important;
}
main section.destacados .nspBotInterface,
main section.destacados .nspTopInterface {
  position: absolute;
  right: 20px;
  top: 12px;
}
main section.destacados .nspArt {
  width: 210px !important;
  border: 1px solid #ccc;
  margin: 14px 6px;
  border-radius: 6px;
}
main section.destacados .nspArt .readon {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #FF6628;
  color: #fff;
  padding: 3px 25px 5px 12px;
  text-decoration: none;
  margin-top: 15px;
}
main section.destacados .nspArt .readon:hover {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #5E544C;
}
main section.destacados .nspArt h4.nspHeader {
  margin-left: 12%;
  margin-bottom: 7px;
}
main section.destacados .nspArt h4.nspHeader a {
  color: #FF6628;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px solid #999;
}
main section.destacados .nspArt p.nspText {
  margin: 0 3% 0 12%;
  font-size: 13px;
  color: #939393;
  text-align: justify;
  width: auto;
}
main .separador {
  width: 100%;
  height: 14px;
  clear: both;
  background: url("../images/inicio/separador.png") no-repeat;
  margin: 30px 0;
  display: inline-block;
}
main .content-bottom {
  width: 100%;
  height: auto;
  float: left;
}
main .content-bottom article.bienvenidos {
  width: 682px;
  height: auto;
  float: left;
}
main .content-bottom article.bienvenidos table tr td {
  vertical-align: top;
  text-align: justify;
}
main .content-bottom article.bienvenidos table tr td h3 {
  color: #5E544C;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  margin-bottom: 5px;
}
main .content-bottom article.bienvenidos table tr td p {
  color: #666;
}
main .content-bottom article.bienvenidos table tr td img {
  padding: 5px;
  background: #fff;
  margin-right: 10px;
  border-radius: 3px;
}
main .content-bottom aside.video {
  float: right;
  width: 265px;
  height: auto;
}
main .content-bottom aside.video img {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  margin-top: 21px;
}
.nspVmStore {
  border-top: 0;
  height: auto;
  padding: 0;
  float: right;
  margin-top: 10px;
}
.nspVmStore .PricepriceWithoutTax {
  display: inline-block !important;
  color: transparent;
  width: 34px;
  height: 31px;
  background: url("../images/inicio/cart.png") no-repeat;
  cursor: pointer;
}
