.valora-icon {
  background-image: url();
}
.valora-icon .logo {
  background-position: 10px 20px;
}
.striped {
  background: url("../images/inicio/striped.png") repeat;
}
.center {
  width: 1023px;
  height: auto;
  margin: 0 auto;
}
.center-cont {
  width: 960px;
  height: auto;
  margin: 0 auto;
}
.orangegradient {
  background: #ff6628;
  background: -moz-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff6628),color-stop(44%,#ed5f25),color-stop(83%,#d95722),color-stop(100%,#fd6528));
  background: -webkit-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -o-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -ms-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: linear-gradient(to bottom,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6628',endColorstr='#fd6528',GradientType=0);
}
.socialbox {
  background: #5E544C;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 0;
}
.bt-social {
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #EDEDED;
  text-align: center;
}
a {
  transition: all 0.3s;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
.copy {
  width: 30%;
  font-size: 1.2em;
  float: right;
  text-align: right;
  clear: right;
}
.sainet a {
  text-decoration: none;
  color: #FF6628;
  font-size: 12px;
}
.copy img {
  vertical-align: middle;
  display: inline-block;
}
header {
  position: relative;
  z-index: 200;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 11px 6px -9px rgba(0,0,0,0.4);
  border-top: 3px solid #FF6628;
  float: left;
}
header .header-centered {
  width: 960px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 15px;
}
header .header-centered .login-top {
  width: 346px;
  height: auto;
  background: #ff6628;
  background: -moz-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff6628),color-stop(44%,#ed5f25),color-stop(83%,#d95722),color-stop(100%,#fd6528));
  background: -webkit-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -o-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: -ms-linear-gradient(top,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  background: linear-gradient(to bottom,#ff6628 0%,#ed5f25 44%,#d95722 83%,#fd6528 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6628',endColorstr='#fd6528',GradientType=0);
  float: right;
  clear: both;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
}
header .header-centered .login-top a {
  color: #fff;
  text-decoration: none;
  font-family: 'Coda', cursive;
  margin-left: 25px;
  position: relative;
}
header .header-centered .login-top a:hover {
  color: #5E544C;
}
header .header-centered .logo-stoore {
  width: 245px;
  height: auto;
  float: left;
  clear: both;
}
header .header-centered nav {
  width: 359px;
  height: auto;
  float: left;
  margin: 40px 0 0 80px;
}
header .header-centered nav .menu li {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 15px 20px 0 0;
}
header .header-centered nav .menu li:first-child {
  margin-top: 0;
}
header .header-centered nav .menu li:nth-child(1) a {
  color: transparent;
  width: 38px;
  height: 38px;
  background: url("../images/inicio/icono-home.png") no-repeat center 4px, #FF6628;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  top: -10px;
}
header .header-centered nav .menu li:nth-child(1) a:hover {
  background: url("../images/inicio/icono-home.png") no-repeat center 4px, #5E544C;
  color: transparent;
}
header .header-centered nav .menu li:nth-child(1) a:hover:before {
  border-top: 10px solid #5E544C;
}
header .header-centered nav .menu li:nth-child(1) a:before {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 14px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #FF6628;
  transition: all .3s;
}
header .header-centered nav .menu li a {
  color: #5E544C;
  text-decoration: none;
}
header .header-centered nav .menu li a:hover {
  color: #FF6628;
}
header .header-centered .shopping-cart {
  float: right;
  width: 150px;
  height: auto;
  margin-top: 50px;
  margin-right: 16px;
  position: relative;
}
header .header-centered .shopping-cart .total_products {
  background: #5E544C;
  color: #fff;
  font-size: 10px;
  font-family: 'Coda', cursive;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 21px 7px 7px;
  border-radius: 3px;
  position: relative;
}
header .header-centered .shopping-cart .show_cart {
  position: absolute;
  content: "";
  top: -9px;
  font-size: 0px;
  color: transparent;
  right: -22px;
  width: 46px;
  height: 43px;
  background: url("../images/inicio/icono-carro-compras.png") no-repeat;
}
header .header-centered .shopping-cart .show_cart a {
  width: 46px;
  height: 43px;
}
footer {
  width: 100%;
  height: auto;
  float: left;
  background: #595552;
  margin-top: 45px;
}
footer .footer-centered {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
}
footer .footer-centered .footer-top {
  width: 100%;
  height: auto;
  display: inline-block;
  border-bottom: 2px solid #4c4846;
  padding: 10px 0;
}
footer .footer-centered .footer-top .moduletablerede-bottom {
  float: left;
  width: 45%;
  text-align: left;
  margin-top: 12px;
}
footer .footer-centered .footer-top .moduletablerede-bottom iframe {
  width: 150px;
}
footer .footer-centered .footer-top .moduletabledatos-pie {
  float: left;
  width: 55%;
}
footer .footer-centered .footer-top .moduletabledatos-pie table tr td {
  vertical-align: middle;
  color: #fff;
}
footer .footer-centered .footer-middle {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px 0;
  text-align: left;
}
footer .footer-centered .footer-middle h3 {
  color: #342e2a;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4c4846;
}
footer .footer-centered .footer-middle ul li {
  display: inline-block;
  margin-right: 13px;
}
footer .footer-centered .footer-middle ul li a {
  color: #342e2a;
  text-decoration: none;
}
footer .footer-centered .footer-middle ul li a:hover {
  text-decoration: underline;
}
footer .footer-bottom {
  background: #3e3c3a;
  width: 100%;
  height: auto;
}
footer .footer-bottom .footer-bottom-centered {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 0;
}
footer .footer-bottom .footer-bottom-centered .moduletabledireccion {
  width: 70%;
  float: left;
  color: #fff;
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}
.redes-lateral {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 440px;
  z-index: 300;
}
.redes-lateral .fb {
  background: #005189;
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
.redes-lateral .fb img {
  margin-top: 7px;
}
.redes-lateral .fb:hover {
  background: #5E544C;
}
.redes-lateral .tw {
  background: #008EB6;
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
.redes-lateral .tw img {
  margin-top: 7px;
}
.redes-lateral .tw:hover {
  background: #5E544C;
}
.redes-lateral .yb {
  background: #E02F27;
  width: 50px;
  height: 51px;
  margin-bottom: 3px;
  transition: all 0.2s ease 0s;
}
.redes-lateral .yb img {
  margin-top: 5px;
}
.redes-lateral .yb:hover {
  background: #5E544C;
}
.contacto {
  width: 136px;
  height: 115px;
  position: absolute;
  top: 750px;
  right: 10px;
  z-index: 200;
}
span.niftyquick span.yoo-login span.login span.registration,
span.niftyquick span.yoo-login span.login span.lostpassword {
  background: none;
  width: auto;
}
.ingresar {
  width: auto;
  float: left;
}
.ingresar a:after {
  position: absolute;
  content: "/";
  right: -19px;
  top: 3px;
  width: auto;
  height: auto;
  color: #fff !important;
}
.registration a {
  margin-left: 10px !important;
}
.registration a:after {
  position: absolute;
  content: "/";
  top: 0;
  right: -8px;
  width: auto;
  height: auto;
  color: #fff !important;
}
span.niftyquick span.yoo-login span.login span.username,
span.niftyquick span.yoo-login span.login span.password,
span.niftyquick span.yoo-login span.login span.login-button,
span.niftyquick span.yoo-login span.login span.lostpassword,
span.niftyquick span.yoo-login span.login span.lostusername,
span.niftyquick span.yoo-login span.login span.registration,
span.niftyquick span.yoo-login span.logout span.greeting,
span.niftyquick span.yoo-login span.logout span.logout-button {
  overflow: visible;
}
span.niftyquick span.yoo-login span.login {
  height: auto;
}
main {
  width: 960px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
}
main .search {
  width: 960px;
  height: 63px;
  background: url("../images/inicio/buscador.png") no-repeat;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  z-index: 300;
}
main .search .wrapper-inputs {
  float: left;
  width: 630px;
  border-radius: 5px;
  border: 2px solid #FF6628;
  background: #FF6628;
  margin: 10px 0 0 10px;
  padding: 2px 0 0 5px;
}
main .search .wrapper-inputs input[type="text"] {
  width: 415px;
  float: left;
  margin-left: 2px;
  padding: 8px 0;
}
main .search .wrapper-inputs .content-select {
  position: relative;
  width: 160px;
  float: left;
}
main .search .wrapper-inputs .content-select select {
  width: 160px;
  float: left;
  padding: 8px 2px;
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  background: url("../images/inicio/flecha-02.png") no-repeat #EFEDED 135px -4px;
  border: 0;
  border-radius: 0;
}
main .search .wrapper-inputs input[type="submit"] {
  background: url("../images/inicio/lupa.png") no-repeat #FF6628;
  color: transparent;
  font-size: 1px;
  width: 40px;
  height: 35px;
  float: right;
  border: none;
}
main .search .wrapper-check {
  float: right;
  width: 285px;
  border-radius: 5px;
  border: 2px solid #FF6628;
  margin: 10px;
  background: #fff;
  padding: 3px 0;
}
main .search .wrapper-check .img-chkama {
  margin-right: 10px;
}
main .search .wrapper-check input[type="checkbox"] {
  vertical-align: top;
  margin-top: 8px;
}
main .category_description {
  margin: 20px 0;
}
main .category_description h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #FF6628;
  margin: 20px 0;
}
main .category_description p {
  font-size: 16px;
  color: #939393;
  text-align: justify;
  line-height: 22px;
}
main .separador {
  width: 100%;
  height: 14px;
  clear: both;
  background: url("../images/inicio/separador.png") no-repeat;
  margin: 30px 0;
  display: inline-block;
}
main .browse-view .row .spacer {
  background: #fff;
  border: 1px solid #ccc;
  margin: 14px 6px;
  border-radius: 6px;
  height: 287px;
}
main .browse-view .row .spacer .width30 {
  width: 100%;
}
main .browse-view .row .spacer .width70 {
  width: 93%;
  text-align: left;
  margin-right: 7px;
}
main .browse-view .row .spacer .width70 .product_s_desc {
  font-size: 13px;
  color: #939393;
}
main .browse-view .row .spacer .width70 h2 a {
  color: #FF6628;
  text-decoration: none;
}
main .browse-view .row .spacer .width70 .product-price {
  margin: 0;
  height: 16px;
}
main .browse-view .row .spacer .width70 .product-price span {
  color: #FF6628;
}
main .browse-view .row .spacer .width70 .product-price .PricepriceWithoutTax {
  display: none;
}
main .browse-view .row .spacer .width70 .vermas {
  display: inline-block;
  float: left;
}
main .browse-view .row .spacer .width70 .product-details {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #FF6628;
  color: #fff;
  padding: 3px 28px 5px 12px;
  text-decoration: none;
  margin-top: 12px;
  margin-left: -8px;
  font-style: italic;
  border: none;
  border-radius: 0;
}
main .browse-view .row .spacer .width70 .product-details:hover {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #5E544C;
}
main .browse-view .row .spacer .width70 .carrito {
  float: right;
}
main .browse-view .row .spacer .width70 .carrito .quantity-input {
  display: none;
}
main .browse-view .row .spacer .width70 .carrito span.addtocart-button {
  display: inline-block;
  float: right;
  width: 34px;
}
main .browse-view .row .spacer .width70 .carrito span.addtocart-button input.addtocart-button {
  display: inline-block !important;
  color: transparent;
  width: 34px;
  height: 31px;
  background: url("../images/inicio/cart.png") no-repeat;
  cursor: pointer;
  font-size: 0px;
  border: none;
  margin-top: 8px;
}
main .browse-view .orderby-displaynumber {
  display: none;
}
main .browse-view .vote {
  display: none;
}
main .productdetails-view .contenedor-producto {
  background: #fff;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
main .productdetails-view .contenedor-producto .width60 {
  width: 423px;
  float: left;
}
main .productdetails-view .contenedor-producto .width60 img {
  width: 400px;
}
main .productdetails-view .contenedor-producto .descripcion {
  width: 490px;
  float: right;
  margin-right: 20px;
}
main .productdetails-view .contenedor-producto .descripcion h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  text-align: left;
  color: #FF6628;
  margin: 20px 0;
}
main .productdetails-view .contenedor-producto .descripcion p {
  color: #939393;
  text-align: justify;
  line-height: 22px;
  display: inline-block;
}
main .productdetails-view .contenedor-producto .descripcion .width40 {
  float: left;
  width: 85%;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .product-price strong {
  display: none;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .product-price .PricepriceWithoutTax {
  display: none;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .product-price .PricesalesPrice {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #FF6628;
  margin: 15px 0;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .addtocart-area {
  float: right;
  display: inline-block;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .addtocart-area .addtocart-button {
  display: inline-block !important;
  color: transparent;
  width: 34px;
  height: 31px;
  background: url("../images/inicio/cart.png") no-repeat;
  cursor: pointer;
  font-size: 0px;
  margin-top: 5px;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .addtocart-area .quantity-box {
  float: none;
}
main .productdetails-view .contenedor-producto .descripcion .width40 .spacer-buy-area .addtocart-area .quantity-controls {
  display: none;
}
main .productdetails-view .contenedor-producto .product-fields {
  margin-top: -26px;
  margin-left: 51px;
  display: inline-block;
}
main .productdetails-view .contenedor-producto .product-fields .product-field {
  color: #FF6628;
}
main .productdetails-view .back-to-category {
  float: left;
}
main .productdetails-view .back-to-category a {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #FF6628;
  color: #fff;
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  margin-top: 12px;
  font-style: italic;
  border: none;
  border-radius: 0;
}
main .productdetails-view .back-to-category a:hover {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #5E544C;
}
.readon {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #FF6628;
  color: #fff;
  padding: 3px 25px 5px 12px;
  text-decoration: none;
  margin-top: 15px;
}
.readon:hover {
  background: url("../images/inicio/detalle-icon.png") no-repeat 97px center, #5E544C;
}
#fancybox-wrap a.continue {
  color: #fff;
  font-size: 0px;
}
#fancybox-wrap .showcart.floatright {
  color: #FF6628;
  font-size: 15px;
  text-decoration: underline;
  background: url("../images/inicio/carrito_popup.png") no-repeat;
  width: 200px;
  padding-left: 45px;
  display: inline-block;
  text-align: right;
  height: 50px;
}
#fancybox-wrap h4 {
  color: #666666;
  margin: 39px 0 8px 1px;
  text-align: center;
}
#fancybox-wrap {
  z-index: 99999;
}
#fancybox-wrap div {
  text-align: center;
}
.cart-view .width50.floatleft.right {
  float: right;
  margin: -12px 0 12px 0;
}
.cart-view .width50.floatleft.right a span {
  font-size: 18px;
  color: #83B151;
  text-decoration: underline;
}
.cart-view h1:after {
  content: "";
  width: 38%;
  border-bottom: 2px solid #83B151;
  height: 3px;
  margin-top: 15px;
  float: right;
}
.cart-view h1 {
  margin: 30px 0;
  height: 30px;
  color: #83B151;
  padding: 5px 0 0 0px;
  width: 100%;
  font-family: 'Didact Gothic', 'sans-serif';
  font-size: 27px;
  font-weight: 100;
  text-align: center;
}
.cart-view h1:before {
  content: "";
  width: 38%;
  border-bottom: 2px solid ;
  height: 3px;
  float: left;
  margin-top: 15px;
}
.cart-view input[type="submit"] {
  border: none;
  float: none;
  color: #fff;
  font-size: 20px;
  margin: 14px 12px 0 0px;
  border-radius: 8px;
  padding: 0px 8px;
}
.cart-view input[type="checkbox"] {
  width: 30px;
}
.cart-view #com-form-login p:first-child {
  color: #3C2C65;
  font-size: 18px;
  padding-bottom: 5px;
}
.cart-view .width30.floatleft a {
  font-size: 18px;
  color: #FF6628;
  text-decoration: underline;
  margin-left: 90px;
}
.cart-view .width30.floatleft  [type="password"] {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 4px 4px 4px 4px;
  font-size: 14px;
  padding: 5px 13px;
  vertical-align: middle;
  width: 287px !important;
}
.botones {
  background: #FF6628;
  color: #fff;
  padding: 3px 12px 5px 12px;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
}
.botones:hover {
  background: #5E544C;
  padding: 3px 12px 5px 12px;
  font-weight: 400;
  font-size: 15px;
}
.cart-view {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  padding: 0 12px 12px 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}
.cart-view h2.title-carrito {
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #FF6628;
  margin: 5px 0;
}
.cart-view .continuar {
  width: 100%;
  text-align: left;
}
.cart-view .continuar .continue_link {
  text-align: left;
  text-decoration: underline;
  color: #FF6628;
  font-size: 20px;
  display: inline-block;
  margin: 15px 0;
}
.cart-view .cart-summary th {
  font-size: 15px;
  font-weight: bold;
}
.cart-view .vm-button-correct {
  background: #FF6628;
  color: #fff;
  padding: 3px 12px 5px 12px;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
}
.cart-view .vm-button-correct:hover {
  background: #5E544C;
  padding: 3px 12px 5px 12px;
  font-weight: 400;
  font-size: 15px;
}
#acordeon .recordarme {
  display: none;
}
#acordeon .control-buttons .default {
  padding: 0;
}
#acordeon .chzn-container {
  width: 323px !important;
}
.gracias {
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #FF6628;
  margin: 5px 0;
}
.reset h3,
.reset-confirm h3,
.reset-complete h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #FF6628;
  margin: 5px 0;
}
.reset p,
.reset-confirm p,
.reset-complete p {
  text-align: justify;
  font-size: 16px;
  line-height: 19px;
}
.reset .reset-pass,
.reset-confirm .reset-pass,
.reset-complete .reset-pass {
  margin: 12px 0;
}
.reset label,
.reset-confirm label,
.reset-complete label {
  color: #FF6628;
  margin: 12px 0 0 0;
  display: inline-block;
}
.reset input[type="text"],
.reset-confirm input[type="text"],
.reset-complete input[type="text"] {
  padding: 5px;
  width: 250px !important;
}
.reset input[type="password"],
.reset-confirm input[type="password"],
.reset-complete input[type="password"] {
  padding: 5px;
  width: 250px !important;
  margin-bottom: 5px;
}
